node_modules/**/*
.vscode
dist/
# Now do never push .env again !
.env

# Optional npm/yarn cache directory
.npm
.yarn/cache
# Optional eslint cache
.eslintcache

# Don't push npm pack please
*.zip

# OSX :)
.DS_Store
.Spotlight-V100
.Trashes
